<% @body_id = 'home' %>
<%= render partial: 'spree/shared/slider', locals: { slider: Spree::Slide.published, cid: 'home', interval: 2000 } %>
<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="homepage-hero-image flex-grow-1">
        <%= link_to '/men' do %>
          <img class="w-100 lazyload"
               data-src="<%= asset_path('homepage/men_main_page.jpg') %>"
               data-srcset="<%= image_source_set('homepage/men_main_page') %>"
               alt="<%= Spree.t('homepage.men') %>"/>

          <div class="homepage-taxon-box-text">
            <h3><%= Spree.t('homepage.men') %></h3>
          </div>
        <% end %>
      </div>

    </div>

    <div class="col-6 d-flex flex-column">

      <div class="homepage-hero-image flex-grow-1">
        <%= link_to '/women' do %>
          <img class="w-100 lazyload"
               data-src="<%= asset_path('homepage/women_main_page.jpg') %>"
               data-srcset="<%= image_source_set('homepage/women_main_page') %>"
               alt="<%= Spree.t('homepage.women') %>"/>

          <div class="homepage-taxon-box-text">
            <h3><%= Spree.t('homepage.women') %></h3>
          </div>
        <% end %>
      </div>

    </div>
  </div>
</div>

<div data-product-carousel data-product-carousel-taxon-id='bestsellers' class="my-3"></div>


<div data-product-carousel data-product-carousel-taxon-id='trending' class="mb-3"></div>