<% @body_id = 'home' %>

<div class="homepage-hero-image mb-3 position-relative">
  <img class="lazyload hero-image position-absolute"
       data-src="<%= asset_path('homepage/main_banner.jpg') %>"
       data-srcset="<%= image_source_set('homepage/main_banner') %>"
       alt="<%= Spree.t('homepage.summer_collection') %>"/>

  <div class="hero-content">
    <div class="homepage-hero-image-text mb-2 mx-auto pb-3 pb-md-4">
      <%= Spree.t('homepage.summer_collection') %>
    </div>
    <div>
      <%= link_to Spree.t('homepage.shop_now'), spree.products_path, class: 'btn btn-primary spree-btn px-5' %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% spree_navigation_data[0]['items'].each do |item| %>
      <div class="col-12 col-lg-6">
        <%= link_to item[:url] do %>
          <div class="homepage-bottom-box text-center mb-3">
            <img class="w-100 lazyload"
                 data-src="<%= asset_path('homepage/promo_banner_right.jpg') %>"
                 data-srcset="<%= image_source_set('homepage/promo_banner_right') %>"
                 alt="<%= item[:title] %>"/>
            <div class="homepage-bottom-box-inner">
              <div class="homepage-bottom-box-inner-small-text">
                <%= item[:title] %>
              </div>
              <div class="homepage-bottom-box-inner-big-text">
                <%= Spree.t('homepage.up_to_60') %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>