<% @body_id = 'home' %>

<div class="homepage-hero-image mb-3 position-relative">
  <img class="lazyload hero-image position-absolute"
       data-src="<%= asset_path('homepage/main_banner.jpg') %>"
       data-srcset="<%= image_source_set('homepage/main_banner') %>"
       alt="<%= Spree.t('homepage.summer_collection') %>"/>
</div>

<div class="container">
  <div class="d-flex justify-content-center position-sticky sticky-top-90px taxon-subcategories-wrapper">
    <div class="py-1 text-uppercase d-flex overflow-x taxon-subcategories">
      <a class="pt-4 pb-2 mb-2 " href="/">All</a>
      <div class="pt-4 mb-2 pl-4">
            <span class="pb-2 taxon-subcategories-selected">
              Men
            </span>
      </div>
      <a class="pt-4 pb-2 mb-2 pl-4 pt-4 pb-2" href="/women">Women</a>
    </div>
  </div>
  <div class="row">
    <% spree_navigation_data[0]['items'].each do |item| %>
      <div class="col-12 col-lg-6">
        <%= link_to item[:url] do %>
          <div class="homepage-bottom-box text-center mb-3">
            <img class="w-100 lazyload"
                 data-src="<%= asset_path('homepage/promo_banner_right.jpg') %>"
                 data-srcset="<%= image_source_set('homepage/promo_banner_right') %>"
                 alt="<%= item[:title] %>"/>
            <div class="homepage-bottom-box-inner">
              <div class="homepage-bottom-box-inner-small-text">
                <%= item[:title] %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>